.image-button {
    background-color: #080808;
    color: rgb(250, 245, 245);
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
  }
  
  .image-button:hover {
    background-color: #0056b3;
  }